.vertical-pool {
    width: 40%;
}

.warn {
    font-size: 12px;
    font-weight: bold;
    color: var(--the-red);
    margin: 0 0 5px 0;
}

.v-input {
    width: 100%;
}

@media only screen and (max-width: 500px) {
    .vertical-pool {
        width: 30%;
    }
}