.result-container {
    position: absolute;
    top: 80;
    left: 0;
    width: 100vw;
    height: auto;
    overflow-y: auto;
    background-color: #202c39fd;
    display: flex;
    flex-direction: column;
    padding: 80px 0 50vh 0;
    z-index: 1000;
}

.exit-button {
    position: fixed;
    top: 30px;
    right: 30px;
    cursor: pointer;
    font-size: 26px;
}


.cat-results-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 70%;
    margin: 20px auto;
}

.y-name {
    width: 40%;
    border: 2px solid var(--the-white);
    margin: 10px;
    padding: 10px;
    min-height: 20px;
}

.y-splits {
    width: 30%;
    border: 2px solid var(--the-white);
    margin: 10px;
    padding: 10px;
    min-height: 20px;
}